{% extends 'base.html.twig' %}

{% block title %}Create New Category - Bug Tracker{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Create New Category</h3>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.name, 'Name', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Create Category</button>
                        <a href="{{ path('category_index') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %} 